body { font-family: system-ui, sans-serif; background: #121212; color: white; text-align: center; padding: 0px; }
        .player-container { max-width: 100%; margin: auto; }
        video { width: 100%; border-radius: 6px; background: black;}
        .playlist { width: 100%;list-style: none; padding: 0; margin-top: 0px; margin-left: 0px;display: grid; gap: 5px; }
        .playlist li {  background: #2a2a2a; padding: 5px; border-radius: 5px; cursor: pointer; transition: 0.3s; text-align: left; border: 1px solid #444; height: 60px;} 
        .playlist li:hover { background: #3a3a3a; }
        .playlist li.active { border-color: #2a2a2a; background: #0c0c0c; }
        #status-log { color: #ff4444; margin-top: 10px; font-size: 0.9em; }
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gainsboro; 
}

.canale {
  
    display: grid;
    /*grid-template-columns: repeat(2, 1fr); /* 3 colonne uguali */
    gap: 20px;

}
.box1{
    float: left; /* Affianca a sinistra */
    width: 50%;  /* Larghezza definita */
    margin-left: 2%;
    justify-content: center;
}

.box2{
    float: left; /* Affianca a sinistra */
    width: 40%;  /* Larghezza definita */
    margin-left: 2%;
    justify-content: center;
}

.logo{
  width: 60px;
  vertical-align: bottom;
  float: left;
   margin-right: 10px;
}


.img-logo{
  width: 60px;
  vertical-align: bottom;
 
}

.p1{
    vertical-align: super;
    margin-right: 5px;
    float: right;
}

.p2{
 
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;

}